
/********** Gallery styles **********/

.picture-holder {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: auto;
  height: auto;
  margin: auto;
}
  
/********** Large devices only **********/
@media (min-width: 1200px) {

  /* Page */
  .picture-holder img {
    width: 200px;
    height: 140px;
  }
  /* End Page */
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  /* Page */
  .picture-holder img {
    width: 350px;
    height: 200px;
  }
  /* End Page */
}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  /* Page */
  .picture-holder img {
    width: 350px;
    height: 200px;
  }
  /* End Page */
}


/********** Extra small devices only **********/
@media (max-width: 767px) {

  /* Page */
  .picture-holder img {
    width: 400px;
    height: 200px;
  }
  /* End Page */
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

  /* Page */
  .picture-holder img {
    width: 300px;
    height: 150px;
  }
  /* End Page */
}